*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
.container .row .title_header{
    text-align: center;
    margin-bottom: 30px;
}
table tr th,table tr td{
    border: 2px solid #2c353c;
    padding: 2px 95px;
}
 .tr-title{
    background: black;
    color: #fff;
    }
table{
    border-collapse: collapse;
    margin: 0 auto
    .col_title;

}
.col_title h2{
    text-align:center;
}